<!DOCTYPE html>
<html>
  <head>
    <title>Minblog</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="top-nav">
      <%= link_to 'Home', home_path %>
      <%= link_to 'About', about_path %>
    </div>
    <%= yield %>
    <div id="footer">
      <div id="footer-left" class="footer-parts-container">
        Social
      </div>
      <div id="footer-mid" class="footer-parts-container">
        Contact
      </div>
      <div id="footer-right" class="footer-parts-container">
        Breif
      </div>
    </div>
  </body>
</html>
